body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.none {
  display: none !important;
}

/*header*/

.header {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  background-image: url("./../img/header/header01.jpg");

  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}

.header-subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
}

/*portfolio*/

.portfolio {
  padding-top: 80px;
  padding-bottom: 115px;
}

.portfolio-header {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1a8b9d;
}

.portfolio-card-wrappert {
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 10px;
  padding: 20px;
  max-width: 540px;
  box-shadow: 0px 2px 5px 0px;
}

.card-img {
  padding-bottom: 20px;
}

.card-title {
  margin-bottom: 30px;
  margin: 0;
  margin-bottom: 13px;
  font-family: 600;
  font-size: 24px;
  line-height: 130%;
  color: #000;
}

.card p {
  margin: 0;
  font-size: 16px;
  line-height: 130%;
  color: #000;
}

/*footer*/

.footer {
  padding-top: 45px;
  padding-bottom: 130px;
  background-color: #38817a;
  color: #fff;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-copyright {
  max-width: 350px;
  flex-grow: 1;
  color: #7e9ec9;
  line-height: 1.3;
  flex-grow: 1;
}

.footer-copyright-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

.footer-icons {
  max-width: 350px;
}

.footer-icons p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}

.footer-icons-tow {
  display: flex;
}

.footer-contacts {
  max-width: 350px;
  flex-grow: 1;
}

.footer-button {
  display: inline-block;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;

  border: 3px solid #fff;
  border-radius: 50px;

  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 44px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contacts p {
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.3;
  color: #7e9ec9;
}
